:root {
    --color-black: #000000;
    --color-very-dark: #132847;
    --color-dark: #1d3557;
    --colr-medium-dark: #3b7295;
    --color-medium: #457b9d;
    --color-medium-light: #a1c7e0;
    --color-light: #cfdee7;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-very-dark);
}

header {
    background-color: var(--color-black);
    color: var(--color-light);
    padding: 1em;
    text-align: center;
}

div.sect{
    text-align: center;
    width: 90%;
    margin: 2em auto;
    padding: 1em;
    border: 2px solid var(--color-black);
    border-radius: 0.5em;
    background-color: var(--color-very-dark);
}

footer {
    background-color: var(--color-dark);
    color: var(--color-dark);
}

a {
    color: var(--color-medium-light);
    text-decoration: none;
}

a:hover{
    color: var(--color-medium);

}

h2{
    text-align: center;
    color: var(--color-light);
}

h4,h3{
    text-align: center;
    padding: 0;
    margin: 0.3em 0;
    color: var(--color-light);
}
